{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block body %}
  <canvas id="mx"></canvas>
  <div class="scan"></div>
  {% if settings.show_loading_screen %}
    <div class="boot" id="boot" aria-hidden="true" data-line-one="{{ settings.loading_line_1 }}" data-line-two="{{ settings.loading_line_2 }}">
      <div class="boot-screen">
        <div class="boot-line" id="boot-line-1"></div>
        <div class="boot-line" id="boot-line-2"></div>
      </div>
    </div>
  {% endif %}
  <main class="home-wrap">
    <form action="/search" method="get" class="home-search">
      <div class="bar">
        <input type="text" name="q" placeholder="search movies &amp; tv shows..." autofocus autocomplete="off" spellcheck="false">
        <input type="submit" value="go">
      </div>
    </form>
  </main>
  {% include "_signal.html" %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='matrix.js') }}?v=deckmotion10"></script>
{% endblock %}
