{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block body %}
  <canvas id="mx"></canvas>
  <div class="scan"></div>
  <div class="boot" id="boot" aria-hidden="true">
    <div class="boot-screen">
      <div class="boot-line" id="boot-line-1"></div>
      <div class="boot-line" id="boot-line-2"></div>
    </div>
  </div>
  <main class="home-wrap">
    <form action="/search" method="get" class="home-search">
      <div class="bar">
        <input type="text" name="q" placeholder="search movies &amp; tv shows..." autofocus autocomplete="off" spellcheck="false">
        <input type="submit" value="go">
      </div>
    </form>
  </main>
  <div class="signal" data-signal>
    <span class="signal-item signal-online" data-glow="signal: online">signal: online</span>
    <a class="signal-item signal-support" href="https://www.instagram.com/pawswirl/" target="_blank" rel="noopener noreferrer" data-tap-sound="/cut2.mp3" data-glow="support: @pawswirl">support: <strong>@pawswirl</strong></a>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='matrix.js') }}"></script>
{% endblock %}
