{% extends "base.html" %}

{% block body_class %}home booting{% endblock %}

{% block body %}
  <canvas id="mx"></canvas>
  <div class="scan"></div>
  <div class="boot" id="boot" aria-hidden="true">
    <div class="boot-screen">
      <div class="boot-line" id="boot-line-1"></div>
      <div class="boot-line" id="boot-line-2"></div>
    </div>
  </div>
  <main class="home-wrap">
    <form action="/search" method="get" class="home-search">
      <div class="bar">
        <input type="text" name="q" placeholder="search movies &amp; tv..." autofocus autocomplete="off" spellcheck="false">
        <input type="submit" value="go">
      </div>
    </form>
  </main>
  <div class="signal">signal: online</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='matrix.js') }}"></script>
{% endblock %}
